@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin-top: 95px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3e2f34;
}

#logo {
  /* max-width: 100px;
  height: auto; */
  margin: auto;
  text-align: center;
  max-width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#home-page {
  background-color: #f6efd9;
  padding: 1rem;
}

#highlight {
  background-color: white;
  border-radius: 20px;
  min-height: 300px;
  /* max-height: 400px; */
  max-height: 50vh;
  padding: 1rem;
  background-size: cover;
  background-position: center;
  background-image: url("./assets/scythe-art.jpg");
  overflow: auto;
}

#highlight h1 {
  background-color: #45cbb2;
  border-radius: 20px;
  font-size: 8vw;
  font-weight: bold;
  /* margin: 0 auto; */
  padding: 10px;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  text-align: left;
}

#hightlight-btn-div {
  float: right;
}

#all-page {
  background-color: #f6efd9;
  padding: 1rem;
  min-height: 88vh;
}

#all-reviews {
  /* background-color: gold; */
  overflow: auto;
  align-items: center;
  text-align: center;
  display: inline-block;
  padding: 1rem;
}

#all-reviews h2 {
  margin: 0;
  padding-right: 2rem;
  float: left;
}

#filter-tip {
  float: right;
}

#sort-drop-down {
}

.review-card {
  /* height: 10%; */
  overflow: auto;
}

.review-card img {
  height: 100px;
}

.read-more {
  float: right;
}

.loading-wrap {
  border-radius: 2em;
  padding: 2rem;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.loading {
  margin: auto;
}

#review-details-page {
  padding: 1rem;
  margin: auto;
  display: block;
  max-width: 800px;
}

#review-details-header {
  /* background: palevioletred; */
  overflow: auto;
  /* position: fixed; */
}

#review-details-owner {
  float: left;
}

#review-details-header h3 {
  float: right;
}

#review-details-body {
  text-align: left;
  line-height: 1.5rem;
  overflow: auto;
}

#review-details-body img {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 800px;
}

#review-details-game {
  overflow: auto;
  margin: 0.5rem;
}

.votes-header {
  margin: 0;
  float: left;
}

.votes-btns {
  float: right;
}

#comments-section {
  /* border: 1px solid black; */
  /* background-color: aqua; */
  margin-top: 2rem;
}

#comments-header {
  /* background-color: pink; */
  height: 50px;
}

#comments-section h1 {
  margin: 0;
  float: left;
}

.comments-add-btn {
  float: right;
}

#comments-block {
  /* overflow: auto; */
  /* background-color: blueviolet; */
  /* background-color: yellow; */
}

.comments-card {
  margin: 0.5rem;
}

.comments-card h4 {
  margin: 0;
  float: left;
}

#categories-header {
  padding-bottom: 1rem;
}
