@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin-top: 95px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3e2f34;
}

#logo {
  margin: auto;
  text-align: center;
  max-width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#home-page {
  padding: 1rem;
}

#all-page {
  padding: 1rem;
  min-height: 88vh;
}

#all-reviews {
  overflow: auto;
  align-items: center;
  text-align: center;
  display: inline-block;
  padding: 1rem;

  h2 {
    margin: 0;
    padding-right: 2rem;
    float: left;
  }
}

#filter-tip {
  float: right;
}

.review-card {
  overflow: auto;

  img {
    height: 100px;
  }
}

.review-card .read-more {
  float: right;
}

.loading-wrap {
  border-radius: 2em;
  padding: 2rem;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.loading {
  margin: auto;
}

#review-details-page {
  padding: 1rem;
  margin: auto;
  display: block;
  max-width: 800px;
}

#review-details-header {
  overflow: auto;

  h3 {
    float: right;
  }
}

#review-details-owner {
  float: left;
}

#review-details-body {
  text-align: left;
  line-height: 1.5rem;
  overflow: auto;

  img {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 800px;
  }
}

#review-details-game {
  overflow: auto;
  margin: 0.5rem;
}

.votes-header {
  margin: 0;
  float: left;
}

.votes-btns {
  float: right;
}

#comments-section {
  margin-top: 2rem;
  h1 {
    margin: 0;
    float: left;
  }
}

#comments-header {
  height: 50px;
}

.comments-add-btn {
  float: right;
}

.comments-card {
  margin: 0.5rem;

  h4 {
    margin: 0;
    float: left;
  }
}

#categories-header {
  padding-bottom: 1rem;
}

#hideMeAfter5Seconds {
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

#error-page {
  padding: 1rem;
}
